/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" 410;
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
}

.page__container-size {
  inline-size: var(--page-width);
  min-inline-size: 375px;
  margin-inline: auto;
}

.header {
  margin-block-start:100px;
  border: 2px solid #000;
  background-color: #fff;
  font-family: var(--font-accent), sans-serif;
  text-align: center;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
  margin-bottom:  6.3125rem;
}

.header-title {
  font-size: var(--font-size-title);
  text-align: center;
}

.header__container {
  margin: auto;
}

.header-text {
  padding-top: 1.25rem;
  font-size:clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  max-inline-size: 100%;
}

.card {
  border: 2px solid #000;
  background-color: #fff;
  margin-bottom: 0;
}

/* ИЛИ лучше - добавляем отступ только между карточками */
.card:not(:last-child) {
  margin-bottom: 52px;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" 715;
  padding: 4px 10px;
}

.card__image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  block-size:clamp(23.5rem, 16.0352rem + 30.5164vw, 43.5rem);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: transform 0.3s ease;
  object-position: center;
  display: block;
   aspect-ratio: 4 / 3; 
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--text-color),
    0 1px var(--text-color),
    1px 0 var(--text-color),
    0 -1px var(--text-color);
}

@supports (-webkit-text-stroke: 1px var(--text-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-color);
  }
}

.card__text {
  display: grid;
  padding: 25px;
  gap: 25px;
  font-size: 18px;
  line-height: 21px;
  

}

.card__buttons {
  display: flex;
  justify-self: end;
  gap: 4px;
  margin: 0 25px 25px;
}

.card__icon-button {
  justify-self: end;
  background-color: transparent;
  cursor: pointer;
  border: 2px transparent solid;
  block-size: 38px;
  padding: 0;
  transition: border-color 0.3s ease;
  outline: none ;
}


.card__icon-button:focus-visible {
  border: 2px solid #000;
}
  

.card__like-button {
  min-block-size: 38px;
  min-inline-size: 130px;
  text-transform: capitalize;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: #fff;
}

.buttons-foother {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.button-save {
  display: block;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  margin-block: 0 100px;
  margin-inline: auto;
  padding: 15px 17px;
}

.button-save__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.dialog__content-svg {
  inline-size: 39px;
}

.dialog__svg {
  inline-size: 39px;
  align-self: center;
  fill: #000;
}

.dialog__save {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border: 2px #000 solid;
  
}

.dialog__save[open] {
  display: flex;
}

.dialog__save::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--font-accent), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
}

.dialog__button {
  inline-size: 100%;
  padding: 12.5px;
  text-transform: uppercase;
}

@media (max-width: 376px) {
  .card__text {
    max-width: 95%;
    width: fit-content;
  }
 
  .button-save__content {
    display: flex;
    flex-direction: column;
  }
  
  .button-save__content svg {
    inline-size: 28px;
    block-size: 28px;
  }
}

/*  Фильтры  */

.filter-blur-and-sepia {
  filter: blur(0.2rem) sepia(80%);
}
.filter-sepia {
  filter: sepia(80%);
}
.filter-blur {
  filter: blur(0.2rem) ;
}
.filter-grayscale {
  filter:  grayscale(1);
}

.filter-opacity {
  filter: opacity(0.6)  ;
}

.filter-brightness {
  filter: brightness(2) ;
}


.filter-invert {
  filter: invert(0.8) ;
}


/* кнопки */
.button {
  border: 2px #000 solid;
  font-family: var(--font-accent), sans-serif;
  background-color: #fff;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  transform: translateX(0);
}

/* Иконка сердца */

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
}



.like-icon:hover .core {
  fill: #000;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  fill: #000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: red;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  fill: var(--animation-fill-color);
  animation: sparks 0.3s ease-in 0.3s;
}