/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
--font-main:"Inter-Variable";
--font-accent: "PressStart2P";
--bg-gradient: 
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
     --page-width: clamp(20rem, 13.2143rem + 33.9286vw, 43.75rem);
     --font-size-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
     --text-stroke-color: #fff;
     --save-button-inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
     --color-icon-countour: black;
     --animation-fill-color:red;
}